/****** 스타일을 입력하세요 ******/

/* 본 고딕 사용하기 */
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
    font-family: 'Noto Sans KR', sans-serif;
}


/***** 메뉴 *****/

/* 로고 */

.nav-bar .logo {
    color: #292929;
    font-size: 26px;
    line-height: 55px;
    font-weight: 800;
}

/***** 히어로 유닛 *****/

/* 큰 버튼 */

.btn-lg {
    font-size: 16px;
    height: 65px;
    line-height: 65px;
    min-width: 300px;
}


#section4 {background-color: #eed4d4!important;}


h2{
    font-size: 82px;
    color: black;
    line-height: 140px;
}

#section4 h2 {
    font-size: 65px;
    line-height: 85px;
    
    
}

.hello {
    font-size: 90px !important;
    color: white!important;
    font-weight: 900;
}


/***** 푸터 *****/

#section5 {
    background-color: #fff !important;
}

#section5 h2 {
    color: #eed4d4;
}
.hello2 {
    font-size: 30px;
    color: #eed4d4;
    font-weight: 500;
    
}